.weather-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .weather-card {
    width: 22%; /* Adjust as needed */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  